<div class>
    <h3 style="display: inline">Currently Viewing Version: <strong class="brand">{{version.snapshot.latestVersion}}</strong></h3>
    <br>
    <span class="version-message">
        {{version.snapshot.changeSummary}}
    </span>
</div>
<div class="ui divider"></div>
<div class="ui grid">

    <div class="row">
        <div class="twelve wide column">
            <p class="description" ng-show="showDiff">
                <span ng-repeat="t in diff.descDiff" ng-class="t.removed ? 'removed' : t.added ? 'added': ''">
                    {{t.value}}
                </span>
            </p>
            <p class="description" ng-show="!showDiff">
                {{version.snapshot.description}}
            </p>
        </div>
        <div class="four wide column">
            <img class="ui fluid image" src="{{version.snapshot.imageUrl}}">
        </div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui grid">

    <div class="row">
        <div class="four wide column">
            <h3>Ingredients</h3>
            <div class="ingredients">
                <div ng-show="showDiff">
                    <div ng-repeat="i in diff.ingredients">
                        <i class="plus icon added small" ng-show="i.status == 'added'"></i>
                        <i class="minus icon removed small" ng-show="i.status == 'removed'"></i>
                        <span ng-show="i.status == 'changed'" style="text-decoration:line-through">
                            {{i.prev.amount}} {{i.prev.units}} {{i.prev.name}}
                        </span>
                        <span ng-class="{removed:'removed', added:'added', changed:'changed' ,'':'default'}[i.status]">
                            {{i.ingredient.amount}} {{i.ingredient.units}} {{i.ingredient.name}}
                        </span>
                    </div>
                </div>
                <div ng-show="!showDiff">
                    <div ng-repeat="i in version.snapshot.ingredients">
                        {{i.amount}} {{i.units}} {{i.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <h3>Instructions</h3>
            <div
                ng-bind-html=UTIL.markdownToHTML(version.snapshot.instructions)
                class="instructions">
            </div>
        </div>
    </div>
</div>