<div class="ui" style="overflow: hidden;">
    <h1 class="ui left floated header">
        Browse Recipes
    </h1>
    <button class="ui right floated icon button" ng-click="createRecipe()">
      <i class="plus icon"></i>
    </button>
</div>


<div class="ui divider"></div>
<!-- Sort by A-Z, Most Recent Update, Least Recent Update -->


<div class="ui grid">
    <div class="ui twelve wide column">
        <div class="ui icon fluid input">
            <input id="browse-filter"
            ng-model="browseSearchText"
            placeholder="Search for Recipes..."
            type="text">
            <i class="search icon"></i>
        </div>
    </div>


<div class="ui four wide column">
<div class="ui fluid floating dropdown labeled icon button">
  <span class="text">A-Z</span>
  <div class="menu">
    <div class="divider"></div>
    <div class="header">
      Sort by...
    </div>
    <div class="scrolling menu">
      <div class="item"
      ng-click="orderBy('name')">
        A-Z
      </div>
      <div class="item"
      ng-click="orderBy('-name')">
        Z-A
      </div>
      <div class="item"
      ng-click="orderBy('-lastUpdated')">
        Most Recent
      </div>
      <div class="item"
      ng-click="orderBy('lastUpdated')">
        Least Recent
      </div>
    </div>
  </div>
    <i class="sort icon"></i>
</div>
</div>


</div>  

<div
    ng-repeat="recipe in recipes | filter:browseSearchText | orderBy:orderByInput"
    class="ui recipe segment"
    data-recipe-id="{{recipe._id}}"
    ng-click="selectRecipe(recipe._id)">
    <div class="ui grid">
        <div class="three wide column">
            <img
                ng-src="{{recipe.imageUrl}}"
                class="ui large image">
        </div>

        <div class="thirteen wide column">
            <div class="content">
                <h3 class="recipe-name">{{recipe.name}}</h3>
                v<div class="recipe-version">{{recipe.latestVersion}}</div>

                <div class="recipe-last-updated">
                    Last updated {{ UTIL.fromNow(recipe.lastUpdated) }}
                </div>

                <div class="ui divider"></div>

                <p class="recipe-change-summary">
                {{recipe.changeSummary}}
                </p>
            </div>
        </div>

    </div>
</div>
