<div id="create-recipe-form" class="ui form">
    
    <div class="small ui header">
        Recipe Title
    </div>
    <div class="ui header">
        <input
            type="text"
            name="name"
            ng-model="recipe.name"
            placeholder="Eggplant Quinoa Bowl"/>
    </div>
    <div style="text-align: right" class="ui header">
        Creating Version <strong class="brand">{{recipe.latestVersion + 1}}</strong>
    </div>

    <div class="ui divider"></div>

    <!-- TODO: The rest of this can be reused between recipeEdit and recipeCreate -->
    <div class="small ui header">
        Recipe Description
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <textarea
                ng-model="recipe.description"
                name="description"
                placeholder="This is a recipe for a delicious..."
                ></textarea>
        </div>
        <div class="four wide field">
            <div class="ui fluid card">
                <div class="ui medium fluid image">
                    <img id="preview-img" ng-src="{{recipe.imageUrl}}" 
                    >
                </div>
                <div id="upload-img" class="ui bottom attached button"
                data-html='<div class="ui small header">Link to image</div><input id="img-input" type="text" placeholder="http://myimage.here"/>'>
                    Upload
                </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <!-- {{!-- TODO: Make this look less wide and sad --}} -->
    <div class="small ui header">
        Ingredients
    </div>

    <!-- {{#each recipe.ingredients}} -->
        <div class="inline fields">
            <div class="three wide field">
                <input type="number" name="amount" placeholder="{{amount}}" value="{{amount}}" min=0>
            </div>
            <div class="four wide field">
                <select class="ui dropdown" name="units" value="{{units}}">
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="cup">cup</option>
                </select>
            </div>
            <div class="eight wide field">
                <label>{{name}}</label>
            </div>
            <div class="one wide field">
                <i class="red remove circle icon"></i>
            </div>
        </div>
    <!-- {{/each}} -->

    <div class="small ui header">
        Add Ingredient to Recipe
    </div>
    <div class="ui form" id="add-ingr-form">
        <div class="inline fields">
            <div class="three wide field">
                <input type="number" placeholder="{{amount}}" value="{{amount}}" name="amount" min=0>
            </div>
            <div class="four wide field" name="units">
                <select name="units" class="ui dropdown">
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="cup">cup</option>
                </select>
            </div>
            <div class="field">
                <div class="ui fluid search selection dropdown" id="ingr-dropdown">
                    <input type="hidden" name="name">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Ingredient</div>
                    <div class="menu">
                        <!-- {{#each ingredients}} -->
                          <div class="item" data-value="{{name}}">{{name}}</div>
                        <!-- {{/each}} -->
                   </div>
                </div>
            </div>
            <div class="field">
                <!-- {{!-- TODO: margin on this button idk how to align this lol--}} -->
                <div
                    id="add-ingr-btn"
                    class="ui submit positive button">
                    Add
                </div>
            </div>

            <div class="field">
                <div class="ui purple button" id="add-ingr">
                    <i class="plus icon"></i>
                    Create New Ingredient
                </div>
            </div>
        </div>
        <div class="ui error message"></div>
<!-- {{!--         <div class="ui error message"> -->
        <!-- <div class="header">Missing Fields</div> -->
        <!-- <p>Make sure you have specified an amount, unit, and an ingredient!</p> -->
      <!-- </div> --}} -->
    </div>

    <br>

    <div class="ui divider"></div>

    <br>

    <div class="field">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="small ui header"> Edit Instructions </div>
                <textarea
                    ng-model="recipe.instructions"
                    id="instructions-edit"
                    name="instructions"
                    placeholder="1. Prepare the..."
                    ></textarea>
            </div>
            <div class="eight wide column">
                <div class="small ui header"> Preview </div>
                <div
                    ng-bind-html=UTIL.markdownToHTML(recipe.instructions)
                    id="instructions-preview"
                    class="instructions">
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="field">
        <div class="small ui header">Change Summary</div>
        <textarea name="summary" rows="2" ng-model="recipe.changeSummary" placeholder="Initial recipe..."></textarea>
    </div>


    <div class="ui divider"></div>

    <div class="right aligned field">
        <div
            id="cancel-recipe-btn"
            class="ui basic large button">Cancel</div>
        <div
            id="update-recipe-btn"
            ng-click="create()"
            class="ui purple large submit button">Create</div>
    </div>
    <div class="ui error message"></div>

    <br>
    <br>
    <br>

</div>

<div class="ui modal new-ingredient small">
<!-- {{> new_ingredient_form}} -->
</div>