<div id="global-nav" class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="ui secondary inverted pointing large menu">
            <a class="active item">
                Eggplant
            </a>
            <a id="global-nav-browse" class="item">
                Browse
            </a>
            <div class="right menu">
              <a class="ui item">
                <i class="user icon"></i>
                Justin
              </a>
            </div>
        </div>
    </div>
    <div class="four wide column"></div>
</div>

