<div class="ui form">
    <div class="inline fields">
        <div class="one wide field">
            <input type="text" placeholder="0">
        </div>
        <div class="two wide field">
            <select class="ui dropdown">
            <option value="">tsp</option>
            <option value="1">tbsp</option>
            <option value="0">cup</option>
            </select>
        </div>
        <div class="five wide field">
            <label>Eggplant</label>
        </div>
    </div>
 </div>