<div class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div id="content">
        </div>
    </div>
    <div class="four wide column"></div>
</div>