<div class="header">
    Create New Ingredient
</div>
<div class="content">
    <div class="ui form ingredient" id="new-ingr-form">
        <div class="inline fields">
            <div class="three wide field">
                <label>Name</label>
            </div>
            <div class="nine wide field">
                <input type="text" name="name">
            </div>
        </div>
        <div class="inline fields">
            <div class="three wide field">
                <label>Description</label>
            </div>
            <div class="nine wide field">
                <textarea rows=5 name="description"></textarea>
            </div>
        </div>
        <div class="inline fields">
            <div class="three wide field">
                <label>Allergens</label>
            </div>
            <div class="nine wide field">
                <textarea rows=5></textarea>
            </div>
        </div>
        <div class="inline fields">
            <div class="three wide field">
                <label>Photo</label>
            </div>
            <div class="three wide field">
                <div class="ui card">
                    <div class="ui medium image">
                        <img src="http://semantic-ui.com/images/wireframe/image.png">
                    </div>
                    <div class="ui bottom attached button">
                        Upload
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <div class="ui red button" id="modal-cancel-btn">Cancel</div>
    <div class="ui positive right labeled icon button" id="new-ingr-btn">
    Save
    <i class="checkmark icon"></i>
    </div>
</div>