<div class="ui form">
    <h2>Create New Ingredient</h2>
    <div class="inline fields">
        <div class="one wide field">
            <label>Name</label>
        </div>
        <div class="three wide field">
            <input type="text">
        </div>
    </div>
    <div class="inline fields">
        <div class="one wide field">
            <label>Description</label>
        </div>
        <div class="three wide field">
            <textarea rows=5></textarea>
        </div>
    </div>
    <div class="inline fields">
        <div class="one wide field">
            <label>Unit</label>
        </div>
        <div class="three wide field">
            <select class="ui dropdown">
                <option value="cup">cup</option>
                <option value="mL">mL</option>
                <option value="oz">oz</option>
                <option value="slice">slice</option>
                <option value="tbsp">tbsp</option>
                <option value="tsp">tsp</option>
            </select>
        </div> 
    </div>
    <div class="inline fields">
        <div class="one wide field">
            <label>Allergens</label>
        </div>
        <div class="three wide field">
            <textarea rows=5></textarea>
        </div>
    </div>
    <div class="inline fields">
        <div class="one wide field">
            <label>Photo</label>
        </div>
        <div class="three wide field">
            <div class="ui card">
                <div class="ui medium image">
                    <img src="http://semantic-ui.com/images/wireframe/image.png">
                </div>
                <div class="ui bottom attached button">
                    Upload
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="ui button primary">Save</button>
        <button class="ui button">Cancel</button>
    </div>
</div>