<div>
    <h1 id="recipe-header" class="ui header">
      {{recipe.name}}
    </h1>

    <br>

    {{!-- {{> ingredients_form}} --}}
    <div id="recipe-content">
      {{> recipe_view}}
    <div>
</div>