<div class="ui three item menu">
  <a class="active item">
    View History
    <i class="history icon"></i>
  </a>
  <a class="item">
    View Sales
    <i class="line chart icon"></i>
  </a>
  <a id="update-btn" class="item">
    Update
    <i class="edit icon"></i>
  </a>
</div>