<div>
    {{> recipe_nav_header}}
    {{!-- {{> ingredients_form}} --}}
    <div id="recipe-content">
    {{> ingredients_view}}
    <div>
    <div class="ui modal small">
    {{> new_ingredient_form}}
    </div>
</div>