<div>
    <h1 class="ui header">
      {{recipe.name}}
    </h1>

    {{> recipe_nav_header}}
    {{!-- {{> ingredients_form}} --}}
    <div id="recipe-content">
    {{> ingredients_view}}
    <div>
</div>