<div class="ui three item menu">
  <a id="nav-history-btn" class="item">
    <i class="history icon"></i>
    View History
  </a>
  <a id="nav-stats-btn" class="item">
    <i class="line chart icon"></i>
    View Sales
  </a>
  <a id="nav-update-btn" class="item">
    <i class="edit icon"></i>
    Update
  </a>
</div>