<div>
    <h1 id="recipe-header" class="ui header">
      {{recipe.name}}
    </h1>

    <div class="version-header">
        <h3 style="display: inline">Latest Version: <strong class="brand">{{recipe.latestVersion}}</strong></h3>
        <br>
        <span class="version-message">
            Doubled amount of secret sauce.
        </span>
    </div>

    <br>

    <div id="recipe-content">
      {{> recipe_view}}
    <div>
</div>