<div class="ui three item menu">
  <a class="active item">
    <i class="history icon"></i>
    View History
  </a>
  <a class="item">
    <i class="line chart icon"></i>
    View Sales
  </a>
  <a id="update-btn" class="item">
    <i class="edit icon"></i>
    Update
  </a>
</div>