// Branding colors/variables here
$brand-color: #9b59b6;
$green: #21ba45;
$red: #db2828;
$yellow: #f39c12;
// $brand-color: #2ecc71;

// Change fonts here
$header-font-stack: 'Futura', 'Helvetica Neue', sans-serif;
$body-font-stack: 'Avenir Next', 'Avenir', 'Helvetica Neue', sans-serif;

body,
html {
  margin: 0;
  padding: 0;

  font-family: $body-font-stack !important;
  font-size: .95em;
}

h1, h2, h3, h4, h5,
.ui.menu .item,
.ui.header,
.ui.button {
  font-family: $header-font-stack !important;
}

input {
  font-family: $body-font-stack !important;
}

.ui.divider {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

strong.brand {
  color: $brand-color;
}

#global-nav {
  background: $brand-color;

  border-bottom: 4px solid lighten($brand-color, 15%);

  color: white;

  .column {
    padding-bottom: 0 !important;
  }

  .item {
  }

  .logo {
    color: white;
    cursor:default;
  }

  .menu {
    border-color: transparent;
  }

  #global-nav-profile {
    cursor: default;
  }

  margin-bottom: 2em;
}

#recipe-header {
  cursor: pointer;
  font-size: 3.5em;
  margin-top: .5em;
}

.version-header {
  h3 {
    display: inline;
  }

  .version-message {
    font-style: italic;
    font-size: .9em;
    word-wrap: break-word;
  }
}

.ingredients {
  div {
    margin-bottom: 1em;
  }
}

.instructions {
  font-size: 1.1em;
  ol li {
    margin-bottom: 1em;
  }
}

.ui.form .right.aligned.field {
  text-align: right;
}

#recipe-content {
  .description {
    font-size: 1.2em;
  }
}

.recipe.segment {
  padding: 0;

  .content {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2em;

    .recipe-name,
    .recipe-version {
      display: inline;
    }

    .recipe-name {
      font-size: 1.5em;
    }

    .recipe-version {
      font-weight: bold;
      color: $brand-color;
    }

    .recipe-change-summary {
      word-wrap: break-word;
    }

    .divider {
      width: 33%;
    }

    .recipe-last-updated {
      font-style: italic;
      font-size: .85em;
      float: right;
    }

  }

  transition-duration: .2s;

  &:hover {
    cursor: pointer;
    border-color: $brand-color;
  }

}

#edit-recipe-form {
  #instructions-edit {

    .form-control {
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 6px;
      box-shadow: none;
    }

    .ui.buttons {
      margin-right: 8px;
      margin-bottom: 12px;
    }


    & + #instructions-tip {
      opacity: 0;
      transition-duration: .5s;
    }
    &:focus + #instructions-tip {
      opacity: 1;
    }
  }
}

.stats-img {
  height: 150px;
  margin: -2px;
  padding: 0;
  border: 1px black;
  border-top-style: none;
  border-right-style: dashed;
  border-bottom-style: none;
  border-left-style: none;
}

.stats-img:hover {
  cursor: pointer;
}

.stats-axis {
  margin: -2px;
}

#stats-x {
  height: 150px;
}

#stats-y {
  width: 515px;
}

.stats.popup {
  overflow:auto;
  min-width: 300px;
  .recipe-name,
  .recipe-version {
    display: inline;
  }

  .recipe-name {
    font-size: 1.5em;
  }

  .recipe-version {
    font-weight: bold;
    color: $brand-color;
  }

  .recipe-change-summary {
    word-wrap: break-word;
  }

  .recipe-last-updated {
    font-style: italic;
    font-size: .85em;
  }

  .recipe-details {
    font-size: 0.85em;
    font-style: italic;
    cursor: pointer;
  }
}
#canvas-container {

  cursor: pointer;

  #canvas {
    position: absolute;
  }

  #stats-highlighter {
    position: relative;
    z-index: 10;
    background-color: rgba(255,165,0,0.1);
  }
}


.clickable {
  cursor: pointer;
}

.removed, .removed * {
  color: $red !important;
}

.added, .added * {
  color: $green !important;
}

.changed, .changed * {
  color: $yellow !important;
}

