<div class="ui divider"></div>

<h3 class="ui header">Overall Sales for {{recipe.name}}</h3>

    <div class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>

    <div class="ui fluid search selection dropdown" id="ingr-dropdown">
        <input
            type="hidden"
            name="name">
        <i class="dropdown icon"></i>
        <div class="default text">Select Ingredient</div>
        <div class="menu">
            <div class="item" data-value="search">Search for all sales of {{recipe.name}}</div>
       </div>
    </div>
</div>
    

 
 <!-- {{!-- TODO: Include more information (like diffs) in tooltip --}} -->
    <div style="width:100%">
        <canvas id="canvas"></canvas>
    </div>

    <!-- {{#each versions}} -->
    <!-- {{/each}} -->

