<div id="global-nav" class="ui centered grid">
    <div class="fifteen wide mobile twelve wide tablet eight wide computer column">
        <div class="ui secondary inverted pointing large menu">
            <a
                ui-sref="app.browse"
                id="global-nav-home"
                class="item">
                <i class="ui leaf icon"></i>
            </a>
            <a
                ui-sref="app.browse"
                ui-sref-active="active"
                id="global-nav-browse"
                class="item">
                Browse
            </a>

            <div class="right menu">
              <a id="global-nav-profile" class="ui item">
                <i class="user icon"></i>
                Justin
              </a>
            </div>
        </div>
    </div>
</div>