<style>
    /*Hack*/
    #recipe-nav {
        display: none;
    }
</style>

<div id="edit-recipe-form" class="ui form">
    <div style="text-align: right" class="ui header">
        <!-- Updating to Version <strong class="brand">{{increaseVersion recipe}}</strong> -->
        Updating to Version <strong class="brand">{{recipe.latestVersion + 1}}</strong>
    </div>

    <div class="ui divider"></div>

    <div class="small ui header">
        Recipe Description
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <textarea
                ng-model=recipe.description
                name="description"
                placeholder="This is a recipe for a delicious..."
                ></textarea>
        </div>
        <div class="four wide field">
            <div class="ui fluid card">
                <div class="ui medium fluid image">
                    <img ng-src="{{recipe.imageUrl}}">
                </div>
                <div class="ui bottom attached button">
                    Upload New Image
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <!-- {{!-- TODO: Make this look less wide and sad --}} -->

    <div class="small ui header">
        Ingredients
    </div>

    <div class="inline fields" ng-repeat="ingredient in recipe.ingredients">
        <div class="three wide field">
            <input
                type="number"
                name="amount"
                placeholder=0
                ng-model="ingredient.amount" min=0>
        </div>
        <div class="four wide field">
            <select
                class="ui dropdown"
                name="units"
                ng-model="ingredient.units">
                <option value="tsp">tsp</option>
                <option value="tbsp">tbsp</option>
                <option value="cup">cup</option>
                <option value="slice">slice</option>
            </select>
        </div>
        <div class="eight wide field">
            <label>{{ingredient.name}}</label>
        </div>
        <div
            class="one wide field"
            ng-click="deleteIngredient($index)">
            <i class="red remove circle icon clickable"></i>
        </div>
    </div>


    <div class="small ui header">
        Add Ingredient to Recipe
    </div>
    <div class="ui form" id="add-ingr-form">
        <div class="inline fields">
            <div class="three wide field">
                <input
                    ng-model="newIngredient.amount"
                    type="number"
                    name="amount" min=0>
            </div>

            <div class="four wide field" name="units">
                <select
                    ng-model="newIngredient.units"
                    name="units"
                    class="ui dropdown">
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="cup">cup</option>
                    <option value="slice">slice</option>
                </select>
            </div>

            <div class="seven wide field">
                <!-- This component is a piece of garbage to work with. sigh. -->
                <div class="ui fluid search selection dropdown" id="ingr-dropdown">
                    <input
                        type="hidden"
                        name="name">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Ingredient</div>
                    <div class="menu">
                        <div class="item" ng-repeat="ingr in ingredients" data-value="{{ingr.name}}">{{ingr.name}}</div>
                   </div>
                </div>
                <script>
                    // hack it
                    $('#ingr-dropdown').dropdown();
                </script>
            </div>
            <div class="two wide field">
                <!-- {{!-- TODO: margin on this button idk how to align this lol--}} -->
                <div
                    id="add-ingr-btn"
                    ng-click="addNewIngredient()"
                    class="ui fluid submit positive button">
                    Add
                </div>
            </div>

        </div>
        <div class="ui error message"></div>
<!-- {{!--         <div class="ui error message"> -->
        <!-- <div class="header">Missing Fields</div> -->
        <!-- <p>Make sure you have specified an amount, unit, and an ingredient!</p> -->
      <!-- </div> --}} -->
    </div>

    <br>

    <div class="ui divider"></div>

    <br>

    <div class="field">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="small ui header"> Edit Instructions </div>
                <textarea
                    ng-model="recipe.instructions"
                    id="instructions-edit"
                    name="instructions"
                    placeholder="1. Prepare the..."
                    ></textarea>
            </div>
            <div class="eight wide column">
                <div class="small ui header"> Preview </div>
                <div
                    ng-bind-html=UTIL.markdownToHTML(recipe.instructions)
                    id="instructions-preview"
                    class="instructions">
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="field">
        <div class="small ui header">Change Summary</div>
        <textarea name="summary" rows="2" placeholder="I removed/added some..." ng-model="recipe.changeSummary"></textarea>
    </div>


    <div class="ui divider"></div>

    <div class="right aligned field">
        <div
            id="cancel-recipe-btn"
            class="ui basic large button"
            ng-click="cancel()">Cancel</div>
        <div
            id="update-recipe-btn"
            class="ui purple large submit button"
            ng-click="save()">Update Recipe</div>
    </div>
    <div class="ui error message"></div>

    <br>
    <br>
    <br>

</div>

<div class="ui modal new-ingredient small">
<!-- {{> new_ingredient_form}} -->
</div>