<div class="ui divider"></div>

<div class="ui grid">

    <div class="row">
        <div class="twelve wide column">
            <p class="description">
                {{recipe.description}}
            </p>
        </div>
        <div class="four wide column">
            <img class="ui fluid image" ng-src="{{recipe.imageUrl}}">
        </div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui grid">

    <div class="row">
        <div class="four wide column">
            <h3>Ingredients</h3>
            <div class="ingredients">
                <div ng-repeat="i in recipe.ingredients">
                    {{i.amount}} {{i.units}} {{i.name}}
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <h3>Instructions</h3>
            <div
                ng-bind-html=recipe.instructions
                class="instructions">
            </div>
        </div>
    </div>
</div>